{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Кіно Галактика</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Кіно Галактика</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Меню
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Афіша</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Про нас</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#team">Команда</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-5" src="{% static 'assets/img/logo.svg' %}" alt="" />
                <h1 class="masthead-heading text-uppercase mb-0">Кіногалактика</h1>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="masthead-subheading font-weight-light mb-0">Мережа кінотеатрів номер 1 в Україні</p>
            </div>
        </header>
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Афіша</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    {% for MovieUnit in object_list%}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="{{MovieUnit.movie_slug}}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{MovieUnit.movie_thumbnail.url}}" alt="" />
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </section>
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-white">Про нас</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Починаючи з 2020 року, мережа кінотеатрів "Кіно Галактика", працює для вас щоденно. На сьогодняшній день, наша мережа налічує 15 кінотеатрів в 7 містах України.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Запрошуємо вас у дивовижну атмосферу та магію кіно! Смачний попкорн, та задоволення від перегляду гарантовано!</p></div>
                </div>
            </div>
        </section>
        <section class="page-section" id="team">
            <div class="container">

                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Наша Команда</h2>
                <div class="container">
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 mr-auto"><p class="lead">Касир - Олексій.</div>
                    <div class="col-lg-3 mr-auto"><p class="lead">Касир - Дмитро.</div>
                    <div class="col-lg-3 mr-auto"><p class="lead">Касир - Максим.</div>
                    <div class="col-lg-3 mr-auto"><p class="lead">Інженер - Данило.</div>
                    <div class="col-lg-3 ml-auto"><p class="lead">Інженер - Назар.</div>
                    <div class="col-lg-3 mr-auto"><p class="lead">Директор - Денис.</div>
                </div>
            </div>
            </div>
        </section>
        <section class="page-section" id="contact">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Зв'яжись з нами!</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Ім'я</label>
                                    <input class="form-control" id="name" type="text" placeholder="Ім'я" required="required" data-validation-required-message="Будь ласка, введіть ваше ім'я." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Мейл</label>
                                    <input class="form-control" id="email" type="email" placeholder="Мейл" required="required" data-validation-required-message="Будь ласка, введіть адерсу вашої елекротнної скриньки." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Номер телефону</label>
                                    <input class="form-control" id="phone" type="tel" placeholder="Номер телефону" required="required" data-validation-required-message="Будь ласка, введіть ваш номер телефону" />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Повідомлення</label>
                                    <textarea class="form-control" id="message" rows="5" placeholder="Текст повідомлення" required="required" data-validation-required-message="Будь ласка, введіть текст повідомлення."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Надіслати</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Адреса офісу</h4>
                        <p class="lead mb-0">
                            Київ, вул. Політехнічна, 41
                            <br />
                            Корпус 18
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Наші соц-мережі</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">По всім питанням, звертайтеся за телефоном</h4>
                        <p class="lead mb-0">
                            044-12-15-42(Катерина)
                            <br>
                            044-12-16-42(Іван)
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © Cheeze 2020-2021</small></div>
        </div>
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        {% for MovieUnit in object_list%}
<div class="portfolio-modal modal fade" id="{{MovieUnit.movie_slug}}" tabindex="-1" role="dialog" aria-labelledby="{{MovieUnit.movie_slug}}" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label"> {{MovieUnit.movie_name}} </h2>
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <img class="img-fluid rounded mb-5" src="{{MovieUnit.movie_thumbnail.url}}" alt="" />
                                    <p class="mb-5">{{MovieUnit.movie_description}}</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Закрити вікно
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{% static 'assets/mail/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'assets/mail/contact.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
